@import url('http://fonts.googleapis.com/css?family=Acme');

#transcript
{

        font-family:"Patrick Hand";
        font-size: 18px;
        width: 450px;
        height: 300px;
        display: block;
        margin: auto auto;
        margin-top: 30px;
}

#start
{
    display: block;
    margin:auto;
    position: relative;
    padding: 8px 20px;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-decoration: none;  
    cursor: pointer; 
    cursor: hand;
    color: #fff;
    border-color: #fff;
    border-width: 3px;
}

#search
{
        display: block;
        margin: auto auto;

}

#buttons
{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    border-color: #fff;
}


body {
//        background: url("bk.jpg") no-repeat center center;
  //      background-size: cover;
        background-color: #000114;
        overflow:hidden;
        margin-top: 25px;
        min-width:600px;
        width: 100%;
    }



.action-button
{
    position: relative;
    padding: 8px 20px;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-decoration: none;  
    cursor: pointer; 
    cursor: hand;
    color: #fff;
    border-color: #fff;
    border-width: 3px;
}




.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

#start:focus {outline:0;}
.action-button:focus {outline:0;}

#start: focus
{
    background-color: #fff;
}
