@import url('http://fonts.googleapis.com/css?family=Acme');

#upButtons
{
    text-align: center;
    margin-top: 25px;
}

#upButtons>*
{
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px 14px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer; 
    cursor: hand;
    color: #FF9966;
    border-color: #FF9966;
    border-width: 2px;
    outline:0;  
}

#transcript
{

        font-family:"Patrick Hand";
        font-size: 18px;
        width: 450px;
        height: 300px;
        display: block;
        margin: auto auto;
        margin-top: 30px;
}


#start
{
    display: block;
    margin:auto;
    position: relative;
    padding: 13px 20px;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-decoration: none;  
    cursor: pointer; 
    cursor: hand;
    color: #FF9966;
    border-color: #FF9966;
    border-width: 4px;
    border-radius: 50%;
}

#listening
{
    display: block;
    margin:auto;
    position: relative;
    padding: 13px 20px;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-decoration: none;  
    cursor: pointer; 
    cursor: hand;
    color: #009654;
    border-color: #009654;
    border-width: 4px;
    border-radius: 50%;
    margin-bottom: 25px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    animation: ripple1 2.0s 0.2s infinite;
    -webkit-animation: ripple1 2.0s 0.2s  infinite;

}  

#start:hover {
  margin-bottom: 25px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  animation: ripple 2.0s 0.2s infinite;
  -webkit-animation: ripple 2.0s 0.2s  infinite;
}

#search
{
        display: block;
        margin: auto auto;

}

#buttons
{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #FF9966;
    border-color: #FF9966;
}

#buttons>*
{
    margin-left: 10px;
    margin-right: 10px;
}

body {
        background-color: #000114;
        overflow:hidden;
        margin-top: 25px;
        min-width:600px;
        width: 100%;
    }



.action-button
{
    position: relative;
    padding: 8px 20px;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    background-color: transparent;
    background-repeat:no-repeat;
    text-decoration: none;  
    cursor: pointer; 
    cursor: hand;
    color: #FF9966;
    border-color: #FF9966;
    border-width: 3px;
}




.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
}

#start:focus {outline:0;font-size: 17px;}
#listening:focus {outline:0;font-size: 17px;}

.action-button:focus, .action-button:hover {outline:0;-webkit-transform: scale(1.2); }

.upButtons:focus,.upButtons.hover{outline:0;-webkit-transform: scale(1.2); }

#start: focus
{
    background-color: #000114;
}


@-webkit-keyframes ripple {
  20% {
    box-shadow: 0px 0px 0px 6px #000114,
                0px 0px 0px 8px #FF9966;
  }
 }
@-webkit-keyframes ripple1 {
  20% {
    box-shadow: 0px 0px 0px 6px #000114,
                0px 0px 0px 8px #009654;
  }
  
  50% {
    box-shadow: 0px 0px 0px 6px #000114,
                0px 0px 0px 8px #009654,
                0px 0px 0px 12px #000114,
                0px 0px 2px 14px #888;
  }
  
  100% {
    box-shadow: 0px 0px 0px 6px #000114,
                0px 0px 0px 8px #009654,
                0px 0px 0px 12px #000114,
                0px 0px 2px 14px #888, 
                0px 0px 0px 16px #000114,
                0px 0px 5px 18px #ddd;
  }
}
